<div class="headerImgBox" id="headerImg">
    <div class="headerImg">
        <img src="/newHeaderImg-03.svg" alt="新規アンケート回答ページのヘッダー画像" class="answersNewHeaderImg">
    </div>
</div>

<main class="mainBox">
    
<!-- article -1 -->
    <article class="art_1 mx-auto" id="art_1Box">
        <section class="sect_1 mt-5" id="box1">
            <div class="container sectionBox">
                <div class="row">
                    <div class="container">
                        <img src="/newSubtitle-01.svg" alt="" class="mb-3">
                        <div class="container-fluid mainTextBox mb-3">
                            <p class="text-center my-auto mb-3">
                                <strong>
                                「sakuSAKU 備蓄チェック」の利用には、「ご利用規約」への同意が必要です。<br>
                                以下の内容をご確認の上、ご同意いただける場合「同意する」にチェックをし、<br>「同意して次へ進む」をクリックしてください。
                                </strong>
                            </p>

                            <div class="container-fluid">
                                <div class="row mx-auto d-flex rulesText terms mt-2 bg-light"  style="width:95%;max-height: 200px; overflow: auto;" >
                                    <div class="col-md-12">
                                        <h4 class="featurette-heading font-weight-bold my-3">＜ ご利用規約 ＞</h4>
                                        <p class="leadText mb-5 pl-3">本利用規約（以下「本規約」と言います。）には、「saku/SAKU 備蓄チェック」（以下「本サービス」と言います。）の提供条件及び当方とご利用者の皆様との間の権利義務関係が定められています。本サービスの利用に際しては、本規約の全文をお読みいただいたうえで、本規約に同意いただく必要があります。</p>
                                    
                                        <div class="container" id="rule_01">
                                        <h5 class="font-weight-bold">第1条（適用）</h3>
                                        <div class="row">
                                            <div class="col-sm-1 leadText text-right mb-5" >1.</div>
                                            <div class="col-sm-11 leadText ">本規約は、本サービスの提供条件及び本サービスの利用に関する当方とご利用者との間の権利義務関係を定めることを目的とし、ご利用者と当方との間の本サービスの利用に関わる一切の関係に適用されます。 </div>
                                            </div>
                                            <div class="row">
                                            <div class="col-sm-1 leadText text-right" >2.</div>
                                            <div class="col-sm-11 leadText ">本規約の内容と、前項のルールその他の本規約外における本サービスの説明等とが異なる場合は、本規約の規定が優先して適用されるものとします。 </div>
                                            </div>
                                        </div>
                                    
                                        <div class="container mt-4" id="rule_02">
                                            <h5 class="font-weight-bold">第2条（定義）</h3>
                                            <p class="leadText ">本規約において使用する以下の用語は、各々以下に定める意味を有するものとします。</p>
                                            <div class="row">
                                            <div class="col-sm-1 leadText text-right" >(1)</div>
                                                <div class="col-sm-11 leadText ">「サービス利用契約」とは、本規約を契約条件として当方とご利用者の間で締結される、本サービスの利用契約を意味します。 </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-1 leadText text-right" >(2)</div>
                                                <div class="col-sm-11 leadText ">「知的財産権」とは、著作権、特許権、実用新案権、意匠権、商標権その他の知的財産権（それらの権利を取得し、またはそれらの権利につき登録等を出願する権利を含みます。）を意味します</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-1 leadText text-right" >(3)</div>
                                                <div class="col-sm-11 leadText ">「当方」とは、【saku/SAKU 備蓄チェック の運営者】を意味します。</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-1 leadText text-right" >(4)</div>
                                                <div class="col-sm-11 leadText ">「当方ウェブサイト」とは、そのドメインが「【sakusaku-bichikucheck】」である、当方が運営するウェブサイト（理由の如何を問わず、当方のウェブサイトのドメインまたは内容が変更された場合は、当該変更後のウェブサイトを含みます。）を意味します。</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-1 leadText text-right" >(5)</div>
                                                <div class="col-sm-11 leadText ">「ご利用者」とは、本サービスの利用者である個人または法人を意味します。</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-1 leadText text-right" >(6)</div>
                                                <div class="col-sm-11 leadText ">「本サービス」とは、当方が提供する【saku/SAKU 備蓄チェック】という名称のサービス（理由の如何を問わずサービスの名称または内容が変更された場合は、当該変更後のサービスを含みます。）を意味します。</div>
                                            </div>
                                            </div>
                                        
                                        <div class="container mt-4" id="rule_03">
                                            <h5 class="font-weight-bold">第3条（本サービスの利用）</h3>
                                            <div class="row">
                                            <div class="col-sm-1 leadText text-right mb-5" >1.</div>
                                                <div class="col-sm-11 leadText ">本サービスの利用をする者（以下「ご利用者」といいます。）は、本規約を遵守することに同意し、かつ当方の定める一定の個人を特定できない形での統計的な情報を当方の定める方法で当方に提供することに同意したものとします。 </div>
                                            </div>
                                            </div>
                                        
                                        <div class="container mt-4" id="rule_04">
                                            <h5 class="font-weight-bold">第4条（禁止事項）</h3>
                                            <p class="leadText">ご利用者は、本サービスの利用にあたり、以下の各号のいずれかに該当する行為または該当すると当方が判断する行為をしてはなりません。</p>
                                            <div class="row">
                                                <div class="col-sm-1 leadText text-right" >(1)</div>
                                                <div class="col-sm-11 leadText ">法令に違反する行為または犯罪行為に関連する行為</div>
                                                </div>
                                                <div class="row">
                                                <div class="col-sm-1 leadText text-right" >(2)</div>
                                                <div class="col-sm-11 leadText ">当方、本サービスの他の利用者またはその他の第三者に対する詐欺または脅迫行為</div>
                                                </div>
                                                <div class="row">
                                                <div class="col-sm-1 leadText text-right" >(3)</div>
                                                <div class="col-sm-11 leadText ">公序良俗に反する行為</div>
                                                </div>
                                                <div class="row">
                                                <div class="col-sm-1 leadText text-right" >(4)</div>
                                                <div class="col-sm-11 leadText ">当方、本サービスの他の利用者またはその他の第三者の知的財産権、肖像権、プライバシーの権利、名誉、その他の権利または利益を侵害する行為</div>
                                                </div>
                                                <div class="row">
                                                <div class="col-sm-1 leadText text-right" >(5)</div>
                                                <div class="col-sm-11 leadText ">本サービスを通じ、以下に該当し、または該当すると当方が判断する情報を当方または本サービスの他の利用者に送信すること
                                                    <br>・過度に暴力的または残虐な表現を含む情報
                                                    ・コンピューター・ウィルスその他の有害なコンピューター・プログラムを含む情報
                                                    <br>・当方、本サービスの他の利用者またはその他の第三者の名誉または信用を毀損する表現を含む情報
                                                    <br>・過度にわいせつな表現を含む情報
                                                    <br>・差別を助長する表現を含む情報
                                                    <br>・自殺、自傷行為を助長する表現を含む情報
                                                    <br>・薬物の不適切な利用を助長する表現を含む情報
                                                    <br>・反社会的な表現を含む情報
                                                    <br>・チェーンメール等の第三者への情報の拡散を求める情報
                                                    <br>・他人に不快感を与える表現を含む情報                                
                                                </div>
                                                </div>
                                                <div class="row">
                                                <div class="col-sm-1 leadText text-right" >(6)</div>
                                                    <div class="col-sm-11 leadText ">本サービスのネットワークまたはシステム等に過度な負荷をかける行為</div>
                                                </div>
                                                <div class="row">
                                                <div class="col-sm-1 leadText text-right" >(7)</div>
                                                <div class="col-sm-11 leadText ">当方が提供するソフトウェアその他のシステムに対するリバースエンジニアリングその他の解析行為</div>
                                                </div>
                                                <div class="row">
                                                <div class="col-sm-1 leadText text-right" >(8)</div>
                                                <div class="col-sm-11 leadText ">本サービスの運営を妨害するおそれのある行為</div>
                                                </div>
                                                <div class="row">
                                                <div class="col-sm-1 leadText text-right" >(9)</div>
                                                <div class="col-sm-11 leadText ">当方のネットワークまたはシステム等への不正アクセス</div>
                                                </div>
                                                <div class="row">
                                                <div class="col-sm-1 leadText text-right" >(10)</div>
                                                <div class="col-sm-11 leadText ">第三者に成りすます行為</div>
                                                </div>
                                                <div class="row">
                                                <div class="col-sm-1 leadText text-right" >(11)</div>
                                                <div class="col-sm-11 leadText ">当方が事前に許諾しない本サービス上での宣伝、広告、勧誘、または営業行為</div>
                                                </div>
                                                <div class="row">
                                                <div class="col-sm-1 leadText text-right" >(12)</div>
                                                <div class="col-sm-11 leadText ">本サービスの他の利用者の情報の収集</div>
                                                </div>
                                                <div class="row">
                                                <div class="col-sm-1 leadText text-right" >(13)</div>
                                                <div class="col-sm-11 leadText ">当方、本サービスの他の利用者またはその他の第三者に不利益、損害、不快感を与える行為</div>
                                                </div>
                                                <div class="row">
                                                <div class="col-sm-1 leadText text-right" >(14)</div>
                                                <div class="col-sm-11 leadText ">当方ウェブサイト上で掲載する本サービス利用に関するルール（https://www.）に抵触する行為</div>
                                                </div>
                                                <div class="row">
                                                <div class="col-sm-1 leadText text-right" >(15)</div>
                                                <div class="col-sm-11 leadText ">反社会的勢力等への利益供与</div>
                                                </div>
                                                <div class="row">
                                                <div class="col-sm-1 leadText text-right" >(16)</div>
                                                <div class="col-sm-11 leadText ">前各号の行為を直接または間接に惹起し、または容易にする行為</div>
                                                </div>
                                                <div class="row">
                                                <div class="col-sm-1 leadText text-right" >(17)</div>
                                                <div class="col-sm-11 leadText ">前各号の行為を試みること</div>
                                                </div>
                                                <div class="row">
                                                <div class="col-sm-1 leadText text-right" >(18)</div>
                                                <div class="col-sm-11 leadText ">その他、当方が不適切と判断する行為</div>
                                                </div>
                                            </div>
                                            
                                        <div class="container mt-4" id="rule_05">
                                            <h5 class="font-weight-bold">第5条（本サービスの停止等）</h3>
                                            <p class="leadText ">当方は、以下のいずれかに該当する場合には、ご利用者に事前に通知することなく、本サービスの全部または一部の提供を停止または中断することができるものとします。</p>
                                            <div class="row">
                                            <div class="col-sm-1 leadText text-right" >(1)</div>
                                            <div class="col-sm-11 leadText ">本サービスに係るコンピューター・システムの点検または保守作業を緊急に行う場合</div>
                                            </div>
                                            <div class="row">
                                            <div class="col-sm-1 leadText text-right" >(2)</div>
                                            <div class="col-sm-11 leadText ">コンピューター、通信回線等の障害、誤操作、過度なアクセスの集中、不正アクセス、ハッキング等により本サービスの運営ができなくなった場合</div>
                                            </div>
                                            <div class="row">
                                            <div class="col-sm-1 leadText text-right" >(3)</div>
                                            <div class="col-sm-11 leadText ">地震、落雷、火災、風水害、停電、天災地変などの不可抗力により本サービスの運営ができなくなった場合</div>
                                            </div>
                                            <div class="row">
                                            <div class="col-sm-1 leadText text-right" >(4)</div>
                                            <div class="col-sm-11 leadText ">その他、当方が停止または中断を必要と判断した場合</div>
                                            </div>
                                        </div>
                                                    
                                        <div class="container mt-4" id="rule_06">
                                            <h5 class="font-weight-bold">第6条（権利帰属）</h3>
                                            <div class="row">
                                            <div class="col-sm-1 leadText text-right mb-5" >1.</div>
                                            <div class="col-sm-11 leadText ">当方ウェブサイト及び本サービスに関する知的財産権は全て当方または当方にライセンスを許諾している者に帰属しており、本規約に基づく本サービスの利用許諾は、当方ウェブサイトまたは本サービスに関する当方または当方にライセンスを許諾している者の知的財産権の使用許諾を意味するものではありません。</div>
                                            </div>
                                            <div class="row">
                                            <div class="col-sm-1 leadText text-right mb-5" >2.</div>
                                            <div class="col-sm-11 leadText ">ご利用者は、作成したデータについて、自らが利用その他送信することについての適法な権利を有していること、及び作成したデータが第三者の権利を侵害していないことについて、当方に対し表明し、保証するものとします。</div>
                                            </div>
                                            <div class="row">
                                            <div class="col-sm-1 leadText text-right mb-5" >3.</div>
                                            <div class="col-sm-11 leadText ">ご利用者は、当方及び当方から権利を承継しまたは許諾された者に対して著作者人格権を行使しないことに同意するものとします。</div>
                                            </div>
                                        </div>
                                    
                                        <div class="container mt-4" id="rule_07">
                                            <h5 class="font-weight-bold">第7条（本サービスの内容の変更、終了）</h3>
                                            <div class="row">
                                            <div class="col-sm-1 leadText text-right" >1.</div>
                                            <div class="col-sm-11 leadText ">当方は、当方の都合により、本サービスの内容を変更し、または提供を終了することができます。</div>
                                            </div>
                                            <div class="row">
                                            <div class="col-sm-1 leadText text-right" >2.</div>
                                            <div class="col-sm-11 leadText ">当方が本サービスの提供を終了する場合、当方はウェブサイト（https://www.）上にて通知するものとします。</div>
                                            </div>
                                            </div>
                                    
                                            <div class="container mt-4" id="rule_08">
                                                <h5 class="font-weight-bold">第8条（保証の否認及び免責）</h3>
                                                <div class="row">
                                                <div class="col-sm-1 leadText text-right" >1.</div>
                                                <div class="col-sm-11 leadText ">当方は、本サービスがご利用者の特定の目的に適合すること、期待する機能・商品的価値・正確性・有用性を有すること、ご利用者による本サービスの利用がご利用者に適用のある法令または業界団体の内部規則等に適合すること、継続的に利用できること、及び不具合が生じないことについて、明示又は黙示を問わず何ら保証するものではありません。</div>
                                                </div>
                                                <div class="row">
                                                <div class="col-sm-1 leadText text-right" >2.</div>
                                                <div class="col-sm-11 leadText ">当方は、本サービスに関してご利用者が被った一切の損害につき、賠償する責任を負わないものとし、また、付随的損害、間接損害、特別損害、将来の損害及び逸失利益にかかる損害については、賠償する一切の責任を負わないものとします。</div>
                                                </div>
                                                <div class="row">
                                                <div class="col-sm-1 leadText text-right" >3.</div>
                                                <div class="col-sm-11 leadText ">本サービスまたは当方ウェブサイトに関連してご利用者と他のご利用者または第三者との間において生じた取引、連絡、紛争等については、ご利用者が自己の責任によって解決するものとします。</div>
                                                </div>
                                            </div>
                                    
                                            <div class="container mt-4" id="rule_09">
                                                <h5 class="font-weight-bold">第9条（秘密保持）</h3>
                                                <p class="leadText ">ご利用者は、本サービスに関連して当方がご利用者に対して秘密に取扱うことを求めて開示した非公知の情報について、当方の事前の書面による承諾がある場合を除き、秘密に取扱うものとします。</p>
                                            </div>
                                    
                                            <div class="container mt-4" id="rule_10">
                                                <h5 class="font-weight-bold">第10条（利用者情報の取扱い）</h3>
                                                <div class="row">
                                                <div class="col-sm-1 leadText text-right" >1.</div>
                                                <div class="col-sm-11 leadText ">当方によるご利用者の利用者情報の取扱いについては、別途当方プライバシーポリシー（https://www.）の定めによるものとし、ご利用者はこのプライバシーポリシーに従って当方がご利用者の利用者情報を取扱うことについて同意するものとします。</div>
                                                </div>
                                                <div class="row">
                                                <div class="col-sm-1 leadText text-right" >2.</div>
                                                <div class="col-sm-11 leadText ">当方は、ご利用者が当方に提供した情報、データ等を、個人を特定できない形での統計的な情報として、当方の裁量で、利用及び公開（オープンデータとしての公開含む）することができるものとし、ご利用者はこれに異議を唱えないものとします。</div>
                                                </div>
                                            </div>
                                    
                                            <div class="container mt-4" id="rule_11">
                                                <h5 class="font-weight-bold">第11条（本規約等の変更）</h3>
                                                <p class="leadText ">当方は、当方が必要と認めた場合は、本規約を変更できるものとします。本契約を変更する場合、変更後の本規約の施行時期及び内容を当方ウェブサイト上での掲示その他の適切な方法により周知し、またはご利用者に通知します。但し、法令上ご利用者の同意が必要となるような内容の変更の場合は、当方所定の方法でご利用者の同意を得るものとします。</p>
                                            </div>
                                        
                                            <div class="container mt-4" id="rule_12">
                                                <h5 class="font-weight-bold">第12条（連絡／通知）</h3>
                                                <div class="row">
                                                <div class="col-sm-1 leadText text-right" >1.</div>
                                                <div class="col-sm-11 leadText ">本サービスに関する問い合わせその他ご利用者から当方に対する連絡または通知、及び本規約の変更に関する通知その他当方からご利用者に対する連絡または通知は、当方の定める方法で行うものとします。</div>
                                                </div>
                                            </div>
                                    
                                            <div class="container mt-4" id="rule_13">
                                                <h5 class="font-weight-bold">第13条（サービス利用の地位の譲渡等）</h3>
                                                <div class="row">
                                                <div class="col-sm-1 leadText text-right" >1.</div>
                                                <div class="col-sm-11 leadText ">ご利用者は、当方の書面による事前の承諾なく、利用上の地位または本規約に基づく権利もしくは義務につき、第三者に対し、譲渡、移転、担保設定、その他の処分をすることはできません。</div>
                                                </div>
                                                <div class="row">
                                                <div class="col-sm-1 leadText text-right" >2.</div>
                                                <div class="col-sm-11 leadText ">当方は本サービスにかかる事業を他社に譲渡した場合には、当該事業譲渡に伴い利用契約上の地位、本規約に基づく権利及び義務並びに個人を特定できない形での統計的な情報を当該事業譲渡の譲受人に譲渡することができるものとし、ご利用者は、かかる譲渡につき本項において予め同意したものとします。なお、本項に定める事業譲渡には、通常の事業譲渡のみならず、会社分割その他事業が移転するあらゆる場合を含むものとします。</div>
                                                </div>
                                            </div>
                                    
                                            <div class="container mt-4" id="rule_14">
                                                <h5 class="font-weight-bold">第14条（分離可能性）</h3>
                                                <p class="leadText ">本規約のいずれかの条項またはその一部が、法令等により無効または執行不能と判断された場合であっても、本規約の残りの規定及び一部が無効または執行不能と判断された規定の残りの部分は、継続して完全に効力を有するものとします。</p>
                                            </div>
                                    
                                            <div class="container mt-4" id="rule_15">
                                                <h5 class="font-weight-bold">第15条（準拠法及び管轄裁判所）</h3>
                                                <div class="row">
                                                <div class="col-sm-1 leadText text-right" >1.</div>
                                                <div class="col-sm-11 leadText ">本規約及びサービス利用契約の準拠法は日本法とします。</div>
                                                </div>
                                                <div class="row">
                                                <div class="col-sm-1 leadText text-right" >2.</div>
                                                <div class="col-sm-11 leadText ">本規約またはサービス利用契約に起因し、または関連する一切の紛争については、大分地方裁判所を第一審の専属的合意管轄裁判所とします。</div>
                                                </div>
                                            </div>
                                            
                                            <div id="end"></div>

                                            <h6 style="margin-top: 70px;">【令和二年三月一日制定】</h6>
                                            <br>
                                    </div>
                                </div>
                            </div>

                            <div class="container-fluid text-center my-3">
                                <p><label><input type="checkbox" id="agree" disabled> ご利用規約に同意して、次に進む</label></p>
                                <input type="button" id="btn1" value="次へ進む" disabled>
                            </div>

                        </div>
                    </div>
                </div>
                
            </div>
        </section>
        <section class="sect_2 mt-5 d-none" id="box2">
            <div class="container sectionBox">
                <div class="row">
                    <div class="container">
                        <img src="/newSubtitle-02.svg" alt="" class="mb-3">
                        <div class="container-fluid">
                        <h4 class="text-center text-danger">※氏名、メールアドレスなどの個人を特定する情報は含まれません。</h4>

                        <%= form_for(@answers) do |f| %>
                            <div class="container">
                                <div class="section_1 mainTextBox">
                                    <h4 class="questionHeader">◆基本情報</h4>                                    
                                    <div class="row field questionSentence">
                                            <div class="col-sm-6 pl-5">
                                            <%= f.label :お住まいの都道府県を選択してください %></div>
                                            <div class="col-sm-6">
                                            <%= f.collection_select(:pref_name, @prefs, :pref_name, :pref_name, {prompt: "都道府県を選択"}, id:"prefName" ) %></div>
                                    </div>
                                    <br>
                                    <div class="row field questionSentence">
                                        <div class="col-sm-6 pl-5">
                                            <%= f.label :あなたの性別を選択してください %></div>
                                            <div class="col-sm-6">
                                                <%= f.collection_select(:gender_type, @genders, :gender_type, :gender_type, {prompt: "性別を選択"}, id:"genderType" ) %></div>
                                    </div>
                                    <br>
                                    <div class="row field questionSentence">
                                        <div class="col-sm-6 pl-5">
                                            <%= f.label :あなたの年代を選択してください %></div>
                                            <div class="col-sm-6">
                                                <%= f.collection_select(:age_period, @ages, :age_period, :age_period, {prompt: "年代を選択"}, id:"agePeriod" ) %></div>
                                    </div>
                                    <br>
                                    <div class="row field questionSentence">
                                        <div class="col-sm-6 pl-5">
                                            <%= f.label :職業を選択してください %></div>
                                            <div class="col-sm-6">
                                                <%= f.collection_select(:job_name, @jobs, :job_name, :job_name, {prompt: "職業を選択"}, id:"jobName" ) %></div>
                                    </div>
                                    <br>

                                    <h4 class="questionHeader">◆世帯人数について</h4>                                    
                                    <div class="row field questionSentence">
                                        <div class="col-sm-6 pl-5">
                                            <%= f.label :「世帯人数」を教えてください。 %></div>
                                            <div class="col-sm-6">
                                                <%= f.number_field :household_size, :step => 1, min: 1, value:0, class:"text-right", id:"householdSize" %> 人</div>
                                    </div>
                                    <br>
                                    <div class="row field questionSentence">
                                        <div class="col-sm-6 pl-5">
                                            <%= f.label :「世帯人数の内訳」を教えてください。 %></div>
                                        <div class="col-sm-6">
                                        <span class="ml-2">成　人</span>
                                        <%= f.number_field :adult_num, :step => 1, min: 0,  value:0 , class:"text-right", id:"adultNum" %> 人
                                        <p></p>
                                            <span class="ml-2">未成年</span>
                                        <%= f.number_field :minor_num, :step => 1, min: 0, value:0 , class:"text-right", id:"minorNum" %> 人</div>
                                    </div>
                                    <br>
                                </div> 
                            </div>
                        <hr>
                        <div class="container-fluid text-center my-3 mainTextBox bg-light">
                            <p><label>入力が完了したら、次へ進むボタンをクリックしてください。ご協力ありがとうございます。</label></p>
                            <input type="button" id="btn2" value="次へ進む">
                        </div>
                    </div>

                    </div>

                </div>
            </div>
        </section>
    </article>

<!-- article -2 -->
    <article class="art_2 mx-auto d-none" id="art_2Box">
        <section class="sect_1 mt-5 d-none" id="box3">
            <div class="container sectionBox">
                <div class="row">
                    <div class="container">
                        <img src="/newSubtitle-03.svg" alt="" class="mb-3">
                        <div class="container-fluid">
                            <h4 class="text-center">各アイテムのご自宅にストックしている数量を入力してください。</h4>
                            <p class="text-center">※備蓄が無い場合は、0 "ゼロ"を入力してください。</p class="text-center">
                            <div class="container enqueteBox" id="enqueteBox1">
                                <div class="hitsujuhinBox" id="category1">
                                <img src="/subTitle-01.svg" alt="" class=" mx-auto d-block subTitle">
                                <hr>
                                    <div class="row questionSentence mb-1" id="question1">
                                        <!-- <div class="col-2 text-right">No.1</div> -->
                                        <div class="col-6 text-center">飲料水（2リットル）<span class="small">※単位：本</span></div>
                                        <div class="col-6 field">
                                            <%= f.number_field :bottolwater_2L, :step => 1, min: 0, value:0 ,  class: "answerFiled text-right", id: "answer1" %> 本
                                        </div>
                                        
                                        <div class="col-2 field requiredNum">
                                            <% f.text_field :required_water, class: "requiredField", id: "required1" %> 
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row questionSentence mb-1" id="question2">
                                        <!-- <div class="col-2 text-right">No.2</div> -->
                                        <div class="col-6 text-center">カセットコンロ<span class="small"> ※単位：台</span></div>
                                        <div class="col-6 field">
                                            <%= f.number_field :cooking_stove, :step => 1, min: 0, value:0 , class: "answerFiled text-right", id: "answer2" %> 台
                                        </div>
                                        <div class="col-2 field requiredNum d-none ">
                                            <% f.text_field :required_stove, class: "requiredField", id: "required2" %> 
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row questionSentence mb-1" id="question3">
                                        <!-- <div class="col-2 text-right">No.3</div> -->
                                        <div class="col-6 text-center">カセットボンベ<span class="small"> ※単位：本</span></div>
                                        <div class="col-6 field">
                                            <%= f.number_field :cassette_gas, :step => 1, min: 0, value:0 , class: "answerFiled text-right", id: "answer3" %> 本
                                        </div>
                                        <div class="col-2 field requiredNum d-none ">
                                            <% f.text_field :required_gas, class: "requiredField", id: "required3" %> 
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="shushokuBox" id="category2">
                                <img src="/subTitle-02.svg" alt="" class=" mx-auto d-block subTitle">
                                <hr>
                                    <div class="row questionSentence mb-1" id="question4">
                                        <!-- <div class="col-2 text-right">No.4</div> -->
                                        <div class="col-6 text-center">白米（１袋=2kg）<span class="small">※単位：kg</span>
                                            <p class="container small">※お米の現在量（kg）を記入ください</p>
                                        </div>
                                        <div class="col-6 field">
                                            <%= f.number_field :rice_2kg, :step => 1, min: 0, value:0 , class: "answerFiled text-right", id: "answer4" %> kg
                                        </div>
                                        <hr>
                                        <div class="col-2 field requiredNum d-none ">
                                            <% f.text_field :required_rice, class: "requiredField", id: "required4" %> 
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row questionSentence mb-1" id="question5">
                                        <!-- <div class="col-2 text-right">No.5</div> -->
                                        <div class="col-6 text-center">乾麺（1袋 = 300g）<span class="small">※単位：袋</span>
                                        <p class="container small">※うどん・そば・そうめんなど</p>
                                        </div>
                                        <div class="col-6 field">
                                            <%= f.number_field :dried_noodle, :step => 1, min: 0, value:0 , class: "answerFiled text-right", id: "answer5" %> 袋
                                        </div>
                                        
                                        <div class="col-2 field requiredNum d-none ">
                                            <% f.text_field :required_noodle, class: "requiredField", id: "required5" %> 
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row questionSentence mb-1" id="question6">
                                        <!-- <div class="col-2 text-right">No.6</div> -->
                                        <div class="col-6 text-center">パスタ乾麺(1袋=600g)<span class="small"> ※単位：袋</span></div>
                                        <div class="col-6 field">
                                            <%= f.number_field :dried_pasta, :step => 1, min: 0, value:0 , class: "answerFiled text-right", id: "answer6" %> 袋
                                        </div>
                                        
                                        <div class="col-2 field requiredNum d-none ">
                                            <% f.text_field :required_pasta, class: "requiredField", id: "required6" %> 
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row questionSentence mb-1" id="question7">
                                        <!-- <div class="col-2 text-right">No.7</div> -->
                                        <div class="col-6 text-center">カップ麺<span class="small"> ※単位：個</span></div>
                                        <div class="col-6 field">
                                            <%= f.number_field :cupped_noodle, :step => 1, min: 0, value:0 , class: "answerFiled text-right", id: "answer7" %> 個
                                        </div>
                                        
                                        <div class="col-2 field requiredNum d-none ">
                                            <% f.text_field :required_cpnoodle, class: "requiredField", id: "required7" %>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row questionSentence mb-1" id="question8">
                                        <!-- <div class="col-2 text-right">No.8</div> -->
                                        <div class="col-6 text-center">パックご飯<span class="small"> ※単位：個</span></div>
                                        <div class="col-6 field">
                                            <%= f.number_field :packed_rice, :step => 1, min: 0, value:0 , class: "answerFiled text-right", id: "answer8" %> 個
                                        </div>
                                        
                                        <div class="col-2 field requiredNum d-none ">
                                            <% f.text_field :required_pkrice, class: "requiredField", id: "required8" %> 
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row questionSentence mb-1" id="question9">
                                        <!-- <div class="col-2 text-right">No.9</div> -->
                                        <div class="col-6 text-center">その他・シリアルなど<span class="small"> ※単位：個</span></div>
                                        <div class="col-6 field">
                                            <%= f.number_field :cereal_etc, :step => 1, min: 0, value:0 , class: "answerFiled text-right", id: "answer9" %> 個
                                        </div>
                                        
                                        <div class="col-2 field requiredNum d-none ">
                                            <% f.text_field :required_etc, class: "requiredField", id: "required9" %> 
                                        </div>
                                    </div>
                                </div>

                                <div class="shusaiBox" id="category3">
                                <img src="/subTitle-03.svg" alt="" class=" mx-auto d-block subTitle">
                                <hr>
                                    <div class="row questionSentence mb-1" id="question10">
                                        <!-- <div class="col-2 text-right">No.10</div> -->
                                        <div class="col-6 text-center">レトルト食品-1<span class="small"> ※単位：個</span>
                                            <p class="container small">※牛丼の素やレトルトカレーなど</p></div>
                                        <div class="col-6 field">
                                            <%= f.number_field :retort_food1, :step => 1, min: 0, value:0 , class: "answerFiled text-right", id: "answer10" %> 個
                                        </div>
                                        <div class="col-2 field requiredNum d-none ">
                                            <% f.text_field :required_retort_1, class: "requiredField", id: "required10" %> 
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row questionSentence mb-1" id="question11">
                                        <!-- <div class="col-2 text-right">No.11</div> -->
                                        <div class="col-6 text-center">レトルト食品-2<span class="small"> ※単位：個</span>
                                            <p class="container small">※パスタソースなど</p></div>
                                        <div class="col-6 field">
                                            <%= f.number_field :retort_food2, :step => 1, min: 0, value:0 , class: "answerFiled text-right", id: "answer11" %> 個
                                        </div>
                                        
                                        <div class="col-2 field requiredNum d-none ">
                                            <% f.text_field :required_retort_2, class: "requiredField", id: "required11" %> 
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row questionSentence mb-1" id="question12">
                                        <!-- <div class="col-2 text-right">No.12</div> -->
                                        <div class="col-6 text-center">缶詰（肉・魚）<span class="small">※単位：個</span></div>
                                        <div class="col-6 field">
                                            <%= f.number_field :canned_food, :step => 1, min: 0, value:0 , class: "answerFiled text-right", id: "answer12" %> 個
                                        </div>
                                        
                                        <div class="col-2 field requiredNum d-none ">
                                            <% f.text_field :required_canned, class: "requiredField", id: "required12" %> 
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="container m-3 mx-auto mainTextBox bg-light">
        <h5 class="text-center">入力した内容で間違いなければ、回答ボタンを押してください。<br>
        <span class="text-center">↓↓↓</span></h5>
            <div class="actions text-center">
                <%= f.submit '回答ボタン', :class=>"submitBtn" %>
            </div>
            <% end %>
        </div>
    </article>


<%= link_to '回答情報一覧へ', answers_path %>

</main>


 <script>
// window.onload = function() {
//     console.log("００００００")
//     }



var headerImg = document.getElementById('headerImg');
var end = document.getElementById('end');
var agree = document.getElementById('agree');
var next = document.getElementById('next');
var btn1 = document.getElementById('btn1');
var btn2 = document.getElementById('btn2');


agree.addEventListener('click', function() {
  btn1.disabled = !btn1.disabled;
});
var observer = new IntersectionObserver(function(changes) {
  if (changes[0].intersectionRatio === 1) {
    observer.disconnect();
    agree.disabled = false;
  }
});
observer.observe(end);

//次へ押して、アンケート１を表示する
    // 利用規約とアンケート１
    var art_1Box = document.getElementById('art_1Box');
    // 備蓄チェック
    var art_2Box = document.getElementById('art_2Box');
    // 利用規約
    var box1 = document.getElementById('box1');
    // アンケート１
    var box2 = document.getElementById('box2');
    // 備蓄チェック
    var box3 = document.getElementById('box3');　


btn1.onclick = function() {
  console.log("１がクリックされた！");
  headerImg.classList.add("d-none");　
  box1.classList.add("d-none");　
  box2.classList.remove("d-none");　
  window.scrollTo(0, 0);

};

    var adultNum = document.getElementById('adultNum');
    var minorNum = document.getElementById('minorNum');
    var householdSize = document.getElementById('householdSize');


btn2.onclick = function() {
    console.log("2がクリックされた");

    if ($('#prefName').val() == "" ){
        //条件に一致する場合(県名が選択されていない場合)
        alert("都道府県名を選択してください");    //エラーメッセージを出力
        return false;    //送信ボタン本来の動作をキャンセルします
    }

    if ($('#genderType').val() == "" ){
        //条件に一致する場合(性別が選択されていない場合)
        alert("性別を選択してください");    //エラーメッセージを出力
        return false;    //送信ボタン本来の動作をキャンセルします
    }

    if ($('#agePeriod').val() == "" ){
        //条件に一致する場合(年代が選択されていない場合)
        alert("年代を選択してください");    //エラーメッセージを出力
        return false;    //送信ボタン本来の動作をキャンセルします
    }

    if ($('#jobName').val() == "" ){
        //条件に一致する場合(職業が選択されていない場合)
        alert("職業を選択してください");    //エラーメッセージを出力
        return false;    //送信ボタン本来の動作をキャンセルします
    }

    if ($('#householdSize').val() == "0"){
        //条件に一致する場合(世帯人数が0の場合)
        alert("世帯人数を入力してください");    //エラーメッセージを出力
        return false;    //送信ボタン本来の動作をキャンセルします
    }
    
    if (parseInt($('#adultNum').val())+parseInt($('#minorNum').val()) != parseInt($('#householdSize').val()) ){
        //条件に一致する場合(世帯人数と内訳の合計が一致しない場合)
        alert("入力された世帯人数と内訳の合計が一致しません。");    //エラーメッセージを出力
        return false;    //送信ボタン本来の動作をキャンセルします
    }
    else{

    art_1Box.classList.add("d-none");
    box2.classList.add("d-none");　
    art_2Box.classList.remove("d-none");
    box3.classList.remove("d-none");
    window.scrollTo(0, 0);
}
};


</script>






